{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <header class="masthead mt-n5 align-items-center justify-content-center h-100 w-100" style="margin-bottom: 2em">
        <div class="row gx-4 gx-lg-5 pt-5 m-auto w-50 align-items-center justify-content-center">
             <div class="col-lg-8 align-self-end">
                <h2 style="margin-top: 3em">Sign up</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button class="btn btn-success btn-xl" type="submit">Sign up</button>
                </form>
             </div>
        </div>
    </header>
{% endblock %}